<header class="header">
  <div class="hamburguer-menu">
    <div class="lines__hamburguer js-hamburguer">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <div class="social__media">
      <a target="_blank" href="https://github.com/sandratapia" title="github">
        <i class="icon fab fa-github-alt"></i>
      </a>
      <a target="_blank" href="www.linkedin.com/in/sandratapianieto" title="linkedin">
        <i class="icon fab fa-linkedin-in"></i>
      </a>
      <a target="_blank" href="https://twitter.com/sandra_1894" title="twitter">
        <i class="icon fab fa-twitter"></i>
      </a>
      <a target="_blank" href="mailto:sandritant62@gmail.com" title="email">
        <i class="icon fas fa-envelope"></i>
      </a>
    </div>
  </div>
  <include src="./header-nav.html"></include>
</header>