<main class="aboutme">
    <h2>Sobre mi</h2>
    <div class="aboutme__container">
        <p>La primera vez que mis padres me apuntaron a clases de natación solo tenía 3 años. Quizá por eso, cuando decidí dar el salto al mundo de la programación, supe que tarde o temprano me sentiría como pez en el agua. Y es que, con esfuerzo, voluntad y capacidad de adaptación, siempre he conseguido mis metas. Gracias a todo lo que he aprendido en Adalab ¡estoy preparada para sumergirme en las aguas de la programación frontend! ¿Me acompañas en este viaje? </p>
    </div>
    <div class="aboutme__tecnology">
        <i class="fab fa-html5"></i>
        <i class="fab fa-css3-alt"></i>
        <i class="fab fa-js-square"></i>
        <i class="fab fa-gulp"></i>
        <i class="fab fa-react"></i>
        <i class="fab fa-sass"></i>
        <i class="fab fa-github"></i>
    </div>
</main>