.navigator{
    position: absolute;
    top: 0;
    padding-top: 60px;
    width: 250px;
    height: 100%;
    background-color: transparentize(white, 0.10);
    z-index: 5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
    height: 100vh;
    box-sizing: border-box;
    .navigator__links{
        height: 100%;
        padding-left: 25px;
        .li__top{
            margin-top: 12px;
        }
        li{
            margin-bottom: 20px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}